mixin input(title, dataConekta, value)
  .form-row
    label
      span=title
      input(type="text" data-conekta=dataConekta value=value)

html
  head

  body
    h2 Conekta Demo
    form(action=action method="POST" id="card-form")
      span.card-errors
      +input('Nombre del tarjetahabiente', 'card[name]', "Test")
      +input('Número de tarjeta de crédito', 'card[number]', "4242424242424242")
      +input('CVC', 'card[cvc]', "123")
      .form-row
        label
          span Fecha de expiración (MM/AAAA)
          input(type="text" data-conekta="card[exp_month]", value="12")
        span /
          input(type="text" data-conekta="card[exp_year]", value="2020")

      button(type="submit") Suscribirse ahora!



    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js')
    script.
      Conekta.setPublishableKey('key_Hzq79JR2pMPkeqbe');

      conektaSuccessResponseHandler = function(token){
        var $form = $("#card-form");
        console.log(token)
        $form.append($("<input type=\"hidden\" name=\"conektaTokenId\" />").val(token.id));
        $form.get(0).submit();
      }

      conektaErrorResponseHandler = function(response){
        var  $form = $("#card-form");
        $form.find(".card-errors").text(response.message);
        $form.find("button").prop("disabled", false);
      }

      $("#card-form").submit(function(event) {
        var $form = $(this);
        $form.find("button").prop("disabled", true);
        Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);

        return false;
      });
