html
  head
  body
    h2 Ejemplos de Conekta

    ul
      li
        a(href="/pagos-con-tarjeta") Pagos con tarjeta
      li
        a(href="/bajo-demanda") Bajo demanda
      li
        a(href="/suscripciones") Suscripciones
